.Card_1 { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: aqua;
    width: 50vw;
    height: 50vw;
}



.Card_1.version2 {
    background-color: aqua ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;
    height: 50vw;
}


.Card_1.version3 {
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;
    height: 50vw;
}


.Card_1.version4 {
    background-color: paleturquoise;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;
    height: 50vw;
}

/* TEXT STYLINGS */

.Card_1__text {
    background-color: yellow;
    margin: 10%;
}


.Card_1__text.version2 {
    background-color: aqua;
    margin: 10%;
}


.Card_1__text.version3 {
    background-color: paleturquoise;
    margin: 10%;
}
.Card_1__text.version4 {
    background-color: palevioletred;
    margin: 10%;
}